<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ducimus officia iste perspiciatis voluptatem. Deleniti, magnam aperiam? Quaerat accusamus error inventore quo harum adipisci ea, reprehenderit, deleniti alias commodi vitae.Hic dolorum in
    nisi, animi assumenda dignissimos minus quo ratione repellat debitis ab nam delectus pariatur commodi praesentium eaque optio rerum, distinctio odio fuga accusantium. Doloribus expedita suscipit cum necessitatibus!
</p>